---
import Base from "../layouts/Base.astro";
---

<Base>
  <h2>Acerca de piezas lego</h2>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus dolores
    maxime tempora iusto sit tenetur architecto facilis numquam nostrum minus
    molestiae, neque debitis, assumenda vero earum, quae eaque necessitatibus
    officia.
  </p>
</Base>
